html {  height:100%;overflow:auto; margin:0;}

body{
	font-family: 'Lato', sans-serif;
	margin:0;
	color:#111110;
	width:100%;
	overflow:auto;
	background: linear-gradient(30deg, #862c31 0%,#473e3a 100%);
	background-attachment: fixed;

}

#header-bar{
	position:fixed;
	width:100%;
	background-color: #2a2a2a;
	min-height: 4%;
	
}
#links{
	width:100%;
	height:100%;
	min-height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

#links a{
	height:100%;
	min-height: 100%;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.2vh;
	padding-right: 5%;
	padding-left:5%;
}

#links a:last-child{
	margin:0px;
}
#links a:link{
	color:#eed;
}
#links a:visited{
	color:#eed;
}
#links a:hover{
	background-color: #3E3E40;
}


#container{

	width:50%;
	margin:5% auto;
	
	/*font-family: 'Inconsolata', monospace;*/
	min-height: 100%;

}
#container h1{
	font-weight: 300;
	color:rgba(230,230,210,0.9);
	display:flex;
	justify-content:center;
	align-items:center;
	width:auto;
	text-transform: uppercase;
}

#data{
	padding:10px;
	border-radius: 10px;
/*	background-color: #573a2d;*/
	justify-content:center;
	align-items:center;
}

#data .row{
	display:flex;
	align-items:center;
}

#data .row{
	color:#eed;
	border-radius: 0px;
	padding:10px;
	margin:-1px;
	border: 1px solid #eed ;
}
#data .row:hover{
	background-color:rgba(230,230,210,0.2);
}

#data .row:first-child{
	background-color: rgba(255,255,255,0.3);
}

#data .row p{
	margin:0;
	padding:0;
	margin-right:30px;
}
#data .row p:first-child{
	width:7%;
}